.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 200px;
  background-color: #245f68;
}
.sidebar a {
  display: block;
  color: white;
  margin: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}
.today-planner {
  margin-left: 290px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.today-planner h1 {
  font-size: 40px;
}
.today-planner h3 {
  margin-top: 40px;
  font-size: 25px;
  color: white;
}
.add {
  margin-top: 40px;
}
#new-task {
  font-size: 18px;
  width: 70%;
  margin: 10px;
  margin-right: 5px;
  height: 40px;
  padding-left: 10px;
  box-shadow: 1px 1px 1px #245f68;
}
#add-new-task {
  display: inline-block;
  width: 80px;
  height: 40px;
  color: #245f68;
  font-size: 18px;
}
#add-new-task:hover {
  background-color: #245f68;
  color: white;
}
table {
  width: 85%;
  background-color: white;
  margin: auto;
  padding: 13px;
}
th {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 21px;
  background-color: #245f68;
  border: 1px solid #245f68;
  color: white;
  padding: 10px;
}
th:first-child {
  width: 80%;
}
td {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #9cadce;
  padding: 5px;
}
td:last-child {
  color: #c71717;
  cursor: pointer;
}
.rating h3 {
  margin-top: 40px;
  font-size: 25px;
  color: white;
  background: none;
}
.rating a {
  cursor: pointer;
  margin: 15px;
  height: 50px;
}
#save {
  width: 100px;
  margin-top: 50px;
  color: #245f68;
  height: 30px;
  font-size: 18px;
}
#save:hover {
  background-color: #245f68;
  color: white;
}
.rating .icon {
  cursor: pointer;
  margin: 10px;
  padding: 20px;
}

.rating .icon > svg {
  pointer-events: none;
}
