.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20%;
  background-color: #245f68;
}
.sidebar a {
  display: block;
  color: white;
  margin: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}
.today-planner {
  margin-left: 290px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.today-planner h1 {
  font-size: 40px;
}
.today-planner h3 {
  margin-top: 40px;
  font-size: 25px;
  color: white;
}
.todo-list {
  width: 70%;
}

.add {
  margin-top: 50px;
}
#new-task {
  font-size: 20px;
  width: 70%;
  margin: 10px;
  height: 40px;
  padding-left: 10px;
  box-shadow: 1px 1px 1px #245f68;
}
#add-new-task {
  display: inline-block;
  width: 80px;
  height: 40px;
  color: #245f68;
}
ul {
  margin: 0 auto;
  display: table;
  list-style: none;
  align-items: center;
  width: 90%;
}
