.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 200px;
  background-color: #245f68;
}
.sidebar a {
  display: block;
  color: white;
  margin: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}
.tomorrow-planner {
  margin-left: 290px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tomorrow-planner h1 {
  font-size: 40px;
}
.tomorrow-planner h3 {
  margin-top: 40px;
  font-size: 25px;
  color: white;
}
.tmr-add {
  margin-top: 40px;
}
#tmr-new-task {
  font-size: 18px;
  width: 70%;
  margin: 10px;
  margin-right: 5px;
  height: 40px;
  padding-left: 10px;
  box-shadow: 1px 1px 1px #421b25;
}
#tmr-add-new-task {
  display: inline-block;
  width: 80px;
  height: 40px;
  color: #af8e97;
  font-size: 18px;
}
#tmr-add-new-task:hover {
  background-color: #af8e97;
  color: white;
}
table {
  width: 85%;
  background-color: white;
  margin: auto;
  padding: 13px;
}
.tmr th {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 21px;
  background-color: #d4afb9;
  border: 1px solid #d4afb9;
  color: white;
  padding: 10px;
}
.tmr th:first-child {
  width: 80%;
}
.tmr td {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  border: 1px solid #d4afb9;
  padding: 5px;
}
.tmr td:last-child {
  color: #c71717;
}
#tmr-save {
  width: 100px;
  margin-top: 50px;
  color: #af8e97;
  height: 30px;
  font-size: 18px;
}
#tmr-save:hover {
  background-color: #af8e97;
  color: white;
}
